# Clés privées -- NE JAMAIS commiter
*.key
*.pem

# Gros dossiers source
projet2-secure-boot/u-boot/
projet1-freertos-stm32/Drivers/
projet1-freertos-stm32/FreeRTOS/
projet1-freertos-stm32/build/
projet2-secure-boot/build/

# Fichiers Ghidra temporaires
*.db
*.bak
*.dat
