# Clés privées -- NE JAMAIS commiter
*.key
*.pem

# Gros dossiers source
secure-boot/u-boot/
freertos-stm32/Drivers/
freertos-stm32/FreeRTOS/
freertos-stm32/Middlewares/
freertos-stm32/build/
secure-boot/build/

# Fichiers Ghidra temporaires
*.db
*.bak
*.dat
